@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

// 定义自定义变量
$next-list-header-footer-padding: 8px 0px;

@include b(next-list) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  color: getCssVar('text-color', 'primary');
  background: getCssVar('fill-color', 'blank');
  font-size: 14px;

  .#{$namespace}-next-list__inner {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  @include when(split) {
    .#{$namespace}-next-list-item {
      &::after {
        background-color: var(--border-color);
      }
    }
  }

  @include when(stripe) {
    .#{$namespace}-next-list-item:nth-child(even) {
      background: getCssVar('fill-color', 'lighter');
    }
  }

  @each $size in (large, small) {
    &.#{$namespace}-next-list--#{$size} .#{$namespace}-next-list-item {
      padding: map.get($table-padding, $size);
    }
  }

  .#{$namespace}-next-list__header,
  .#{$namespace}-next-list__footer {
    background: getCssVar('fill-color', 'blank');
    padding: $next-list-header-footer-padding;
  }
}